header{
    background-color: rgb(9, 124, 124);
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    overflow: hidden;
    background-color: rgb(243, 213, 130);
    border-bottom: 15px;
    border-bottom: rgb(212, 255, 94);
}

nav a{
    float: left;
    display: block;
    color: rgb(43, 157, 233);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover{
    background-color: blueviolet;
    color: darkblue;
}


#container{
    display: flex;
    justify-content: space-between;
}

.portrait{
    flex: 1;
    margin-right: 20px;
}

img{
    max-width: 100%;
    height: auto;
}

.bio{
    flex: 1;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.set {
    flex: 1;
    margin-right: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.hobbies-container{
    display: flex;
    justify-content: space-between;
}